@charset "UTF-8";

body {
    background-color: #f7f3ed;
    color: #002157;
}

h1 {
    text-align: center;
}

.fantome,#contact {
    display: none;
}

#adresse {
    display: flex;
}

#adresse > p {
    margin: 0 1em 0 1em;
}